<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link href="https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=RocknRoll+One&display=swap" rel="stylesheet">
    <title>{% block title %} Janken {% endblock%}</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="box-title">
            <h1>🤚✌️✊ Janken ✊✌️ 🤚</h1>
            </div>
                <nav class="nav-bar" >
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/rules1">Rules</a></li>
                        <li><a href="/play">Play</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </nav>
            
            
        </div>
        {% block main %}{% endblock %}
    </main>
</body> 
</html>