{% extends "/layout.html" %}

{% block title %} Winner {% endblock %}

{% block main %} 
</head>
<body>
    <div>

        <div class="text-box result">
            <h1>Result</h1>
            <h2>Player {{ player_1.name }} choice was {{player_1.choice }}</h2>
            <h2>Player {{ player_2.name }} choice was {{player_2.choice }}</h2>
            <h2>The winner is:</h2>
            {% if game_1.match_2(player_1, player_2) == "None" %}
            <h2>{{ game_1.match_2(player_1, player_2) }} 😑 </h2>
            {% else %}
            <h2>Player {{ (game_1.match_2(player_1, player_2)).name }} 💪 </h2>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}
</html> 